<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - aspnet_inferno_redux_tut</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <div class="container body-content" style="padding-top: 40px;">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2017 - aspnet_inferno_redux_tut</p>
        </footer>
    </div>

    <environment names="Development">
        @*<script src="~/dist/main.b6fbc785ac0cb03fc23b.js"></script>*@
    </environment>
    <environment names="Staging,Production">
        
    </environment>

    @Html.Partial("_AppScript")

    @RenderSection("Scripts", required: false)
</body>
</html>
